<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Search Products</h1>
        <form method="get">
            <div class="form-group">
                <input type="text" name="search" value="{% if search %} {{search}} {% endif %}" class="form-control" placeholder="Enter product name or description">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>SKU</th>
                    <th>Thumbnail</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.title }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.category }}</td>
                    <td>${{ product.price }}</td>
                    <td>{{ product.sku }}</td>
                    <td><img src="{{ product.thumbnail }}" alt="{{ product.title }}" width="100"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>
</html>